.top-section{
  padding: 10em 0;
  background-image: url("../images/me2.jpg");
  background-size: cover;
  border-top: solid 1em #3363ff;
  background-repeat: no-repeat;
  height: 650px;
}
.intro{
  margin-top: 3em;
  font-family: serif;
  font-size: 3em;
  text-align: center;
  color: #0920f3;
}
.heading{
  color: #6371f1;
  margin-top: 1em;
  font-weight: bold;
  font-size: 4em;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  text-align: center;
}
.left-float{
  float: left;
  background-color: blue;
  height: 250px;
  width: 150px;
  word-wrap: normal;
  text-align: center;
  list-style-position: inside;
  color: white;
}
.left-float ul{
  text-align: left;
}
.bold-italic{
  font-style: italic;
  font-weight: bolder;
}
img{
  display: block;
  height: 90px;
  width: 300px;
}
.middle-section h2 {
  text-align: center;
}
.middle-section h3{
  text-align: center;
  font-weight: 300;
}
.middle-section p{
  text-align: center;
}
.middle-section ol {
  text-align: center;
  list-style-position: inside;
}
.project-section h2{
  text-align: center;
}
.project-section ol{
  text-align: center;
}
.project-section li{
  text-align: center;
  list-style-position: inside;
  font-weight: bolder;
  font-style: italic;
}
.bottom-section{
  text-align: center;
}