.top-section{
  background-color: plum;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  right: 0px;
}
.left-float{
  float: left;
  background-color: white;
  height: 300px;
  width: 150px;
  word-wrap: normal;
  text-align: center;
}
.left-float ul{
  text-align: left;
}
.bold-italic{
  font-style: italic;
  font-weight: bolder;
}
img{
  display: block;
  height: 90px;
  width: 300px;
}
h1{
  text-align: center;
}
.middle-section h2 {
  text-align: center;
}
.middle-section h3{
  text-align: center;
  font-weight: 300;
}
.middle-section p{
  text-align: center;
}